# config.env.example
SERVER_PUBLIC_IP=YOUR_SERVER_EC2_PUBLIC_IP
SERVER_WG_IP=10.8.0.1
CLIENT_PUBLIC_IP=YOUR_CLIENT_EC2_PUBLIC_IP
SS_PASSWORD=YOUR_PASSWORD
SS_PORT=8388
XRAY_UUID=YOUR_UUID
XRAY_PUBLIC_KEY=YOUR_XRAY_PUBLIC_KEY